body{
  margin: 30px;
  background-image: linear-gradient(#b4c4dd, #d6e0ec);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.side{
    border: 2px solid #647cb8;
    border-radius: 40px;
    height: 200px;
    display: inline-block;
    width: 30%;
     position: relative;
    top: 50px;
}

#mid {
  margin: 0 10px;
  border-radius: 15px;
  width: 30%;
  height: 250px;
  display: inline-block;
  position: relative;
  top: 0;
}

.abt {
  font-size: 15px;
}

.des {
  padding-top: 5px;
  font-size: 10px;
}

div h1{
    margin-top: -10px;
    line-height: 16px;
    font-size: 10px;
}

.container {
  width: 100%;
  border: none;
  display: flex;
  position: absolute;
}

div{
    text-align: center;
    border: 1px solid #000;
    height: 400px;
    color: #4a6aaa;
    font-weight: 700px;
 }
  
.in {
  padding: 20px;
  border: none;
  height: 180px;
  vertical-align: middle;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

div h1 span{
  font-size: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 500;
  background-color: #b7c7de;
}

.midh{
  background-color: #b4c4dd;
}