body {
  background-color: #f2f2f2;
}

form {
 /* width: 50%;
  margin-left: 25%;*/
  padding: 100px;
  text-align: left;
  margin: auto;
  display: table;
}

input {
  width: 150px;
}

select {
  width: 175px;;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 110px;
  font-size: 15px;
}

input {
  padding: 5px 10px;
}