body {
    box-sizing: border-box;
    overflow: hidden;
}

tr, td {
  font-weight: normal;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  padding-top: 0px;
  border: 1px solid black;
  }
    
 table {
  width: 90%;
  margin: auto;
  table-layout: fixed;
  height: 300px;
  background-color: rgb(230, 230, 230);
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  vertical-align: top;
  font-size: 10px;
}

td::first-line {
  font-size: 13px;
}

th {
  border: hidden;
  border-bottom: 1px solid black;
  background-color: white;
  color: grey;
  font-weight: 500;
}

 tr[scope="hour"] {
   font-size: 12px;
   color: gray;
   vertical-align: bottom;
 }
 
th[scope="day"] {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: lighter;
  padding: 10px;
  color: #303030;
  border-right: 1px solid black;
}

#mon {
  color: black;
}
 
#third {
  border-bottom: 2px solid grey;
}

.block {
  background-color: rgb(222, 228, 240);
  }
    
 #fri {
   border-bottom: hidden;
 }
 
 col.first {
   border-right: none;
 }
 
 col.second {
   border-left: 2px dashed gray;
 }

col.das {
  border-left: 2px dashed gray;
 }
 
 colgroup.other {
   border-right: 2px solid grey;
 }
